

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                        [attr.aria-valuenow]="porcentaje" aria-valuenow="50" 
                        aria-valuemin="0" aria-valuemax="100"
                        [style.width]="porcentaje + '%'">
                        <!-- estas llaves dice que es algo que va a manejar angular, teniendo la propiedad en el .ts -->
                         <!-- en el caso de arriba no podemos hacerlo como abajo por que aria-valuenow es una attr de bootstrap entonces angular
                        no puede manejar directamente con ngmodel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-btn" id="button-addon3">
                      <button (click)="clickMinus()" class="btn btn-primary" type="button">
                          <i class="mdi mdi-minus"></i>
                      </button>
                      
                    </div>
                    <input name="porcentaje" [(ngModel)]="porcentaje"  type="text" class="form-control" placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3">
                                <!-- para ng model hay que importar en el modulo el formsModule -->
                    <button (click)="clickPlus()" class="btn btn-primary" type="button">
                        <i class="mdi mdi-plus"></i>
                    </button>
                  </div>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">
                Texto 2
            </div>
        </div>
    </div>

</div>