<!-- Para conseguir las coordenadas se puede usar una extension de chrome y para calcularlas
recordar que las que se ponen en la etiqueta es desde dónde empieza la foto por lo que hay que 
hacer la resta -->


<img src="assets/images/camino.jpg" usemap="#workmap">



<map name="workmap">
        <area shape="rect" coords="84,76,361,142" href="https://www.caminosantiago.org/cpperegrino/comun/inicio.asp">
        <area shape="rect" coords="148,182,177,224" href="https://es.wikipedia.org/wiki/Albari%C3%B1o">
        <area shape="circle" coords="371,301,50" href="https://es.wikipedia.org/wiki/Santiago_de_Compostela">
    </map>