<mat-vertical-stepper #stepper>
    <!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup">


        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Que título quieres ponerle?</ng-template>
            <!-- <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field> -->
            <div class="form-group">
                <label for="exampleFormControlInput1">Título principal del post</label>
                <input formControlName="firstCtrl" required type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div>
                <button type="button" class="btn btn-primary" matStepperNext>Next</button>
            </div>


        </form>
    </mat-step>



    <!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup">


        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Añade una breve introducción</ng-template>
            <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field> -->

            <!--  Start Editor HTML5 -->
            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    <textarea id="mymce" name="area"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End Editor HTML5 -->


            <div>
                <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>
                <button type="button" class="btn btn-primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>


    <!-- Step 3 -->
    <mat-step [stepControl]="secondFormGroup">

        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Categoría</ng-template>
            <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field> -->

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Categoría</label>
                </div>
                <!-- Podría hacer un ngFor con las categoría que haya en el back  -->
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
            </div>

            <div>
                <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>
                <button type="button" class="btn btn-primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>



    <!-- Step 4 -->
    <mat-step>
        <ng-template matStepLabel>Escribe el post</ng-template>

        <!--  Start Editor HTML5 -->
        <label>Añade el post</label>
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                <textarea id="mymce" name="area"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  End Editor HTML5 -->

        <div>
            <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>
            <button type="button" class="btn btn-primary" (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

</mat-vertical-stepper>