<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="my-4">Aquí tienes todas mis recomendaciones(<small>{{totalPosts}}</small>)
                <!-- <small>:)</small> -->
            </h2>

            <!-- Blog Post -->
            <div *ngFor="let post of posts" class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div [routerLink]="['/blog-post', post._id]" class="card-body">
                    <!-- <div [routerLink]="['/blog-post/']" class="card-body"> -->
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text">{{post.intro}}</p>
                    <a [routerLink]="['/blog-post', post._id]" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{post.date}}
                </div>
            </div>



            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" (click)="page(-5)">&larr; Anteriores</a>
                </li>
                <!-- <li class="page-item disabled"> -->
                <li class="pagination justify-content-center mb-4">
                    <a class="page-link" (click)="page(+5)">Siguientes &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input #input (keyup)="searchPost(input.value)" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
              </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Recomendación Externa</h5>
                <div class="card-body">
                    Aquí te dejo mis recomendaciones a entradas de compañeros muy interesantes
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <!-- <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p> -->
        <p class="m-0 text-center text-white">Esto es un mensaje para informar que todas las opiniones son igual de válidas y que es meramente informativo y los mensajes serán mediados para evitar cualquier tipo de incidente :) Espero que se comprenda. Buen días a tod@s!!
        </p>
    </div>
    <!-- /.container -->
</footer>